/* The body has a default margin. Remove it via: */
html, body {
    margin: 0;
    padding: 0;
}
/* ALL DIVS GIVEN BORDER-BOX to avoid redundancy in code and to make formatting consistent when adding padding! */
div {
  box-sizing: border-box;
}

button {
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    cursor:pointer;
  }

.mini-grid-square {
    /* width: 31.25px;
    height: 31.25px; */
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.header {
    width: 100%;
    border: 1px solid black;
    display: flex;
    padding: 0rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.header  h1 {
    margin: 5px;
}
body {
    font-family: 'Roboto', sans-serif;
}

div.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    height: 500px;
    /* I LOVE THE GAP FEATURE */
    gap: 50px;
    flex-wrap: nowrap;
}

.left-panel {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: block;
    padding: 0px 20px;
    height: 500px;
}
.left-panel h2 {
    margin-top: 0px;
}

.settings-box {
    border: 1px solid black;
    border-radius: 10px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    height: 130px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
}



/* css styles applied ONLY to the box that has the eraser and clear buttons in it */
#eraser-box {
    justify-content: center;
    gap: 20px;
}

#grid-size-box p {
    margin: 2px;
}

#grid-size-slider {
    margin: 10px 0px;
}


